<section id="about" class="about-section">
  <h2 class="section-title">About Me</h2>
  <div class="about-content">
    <div class="about-text">
      <p>
        Hello! I'm {{ name }}, a passionate software engineer currently pursuing
        a Bachelor of Science in Computational Sciences with a focus on Software
        Engineering and Artificial Intelligence at Minerva University. My
        journey in tech is fueled by curiosity and a commitment to creating
        impactful digital solutions. I am skilled in a variety of programming
        languages and technologies, including
        <strong
          >HTML, CSS, JavaScript, React, TypeScript, Python, Flask, Fastapi,
          Bash, Docker, and Github Actions.</strong
        >
      </p>

      <ul class="highlights">
        <li>📍 Based in {{ location }}</li>
        <li>🎓 {{ education }}</li>
        <li>📬 Reach me at <a href="mailto:{{ email }}">{{ email }}</a></li>
        <li>
          📱 Phone Number: <a href="tel:+14152318164">+1 (415)-231-8164</a>
        </li>
        <li>
          📍 Personal Website:
          <a href="https://ali-osman.com/">ali-osman.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
