<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link
      lang="sass"
      rel="stylesheet"
      href="./static/styles/sections/main.css"
    />
    {% block styles %} {% for sc in sections %}
    <link rel="stylesheet" href="./static/styles/sections/{{ sc }}.css" />
    {% endfor %} {% endblock %}
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="./static/scripts/travel.js"></script>
  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>
    <main>
      <div class="profile">
        <div id="profile-picture" class="profile-picture">
          <img src="./static/img/profile.jpg" />
        </div>
        <h1>{{ title }}</h1>
        <div class="navbar">
          <ul>
            {% for path,name in routes.items()%}
            <li><a href="{{path}}">{{name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="content">
        {% block content %} {% for sc in sections %} {% include 'pages/index/' ~
        sc ~ '.html' %} {% endfor %} {% endblock %}
      </div>
    </main>
  </body>
</html>
